.container {
  display: grid;
  grid-template-areas:
    "nav"
    "header"
    "main"
    "footer";
  grid-template-rows: auto auto 1fr 36px;
  align-items: center;
  min-height: 100vh;
  padding: 0 10px;
}

.main {
  grid-area: main;
  min-height: inherit;
  
}

.header,
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fheader{
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  background-color: bisque;
  justify-content: space-between;
}

/* @media (min-width: 500px) {
  .fheader{
    flex-direction: row;
}
} */