.filtersList{
  width: 100%;
  max-width: 600px;
}
.radioGroup{
  width: 100%;
}
.todoList{
  margin-top: 20px;
  width: 100%;
  max-width: 600px;
}
.todoItem {
  margin-bottom: 10px;
}
.pagination{
  margin-top: 20px;
}

